/* 布局 */
.row{
	/* #ifndef APP-PLUS-NVUE */
	display:flex;
	/* #endif */
	flex-direction:row;
	align-items: center;
}
.center{
	/* #ifndef APP-PLUS-NVUE */
	display:flex;
	/* #endif */
	align-items: center;
	justify-content: center;
}