@font-face {
  font-family: "iconfont"; /* Project id 4004757 */
  src: url('/static/cx-icons/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cx-icon-ticket:before {
  content: "\e822";
}

.cx-icon-vote:before {
  content: "\ebcf";
}

.cx-icon-time:before {
  content: "\e607";
}

